body {
    background-color: #f4f4f4;
    height: 100vh;
    margin: 0;
}
.title {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin-top: 50px;
    margin-right: 10px;
    height: 7vh;
}

.form-width-reduced {
    max-width: 400px; /* Defina a largura desejada aqui */
}

